/* heading */
.heading {
  display: flex;
  justify-content: center;
  background: #081b31;
}

.heading h1 {
  color: #fff;
  height: 5rem;
  line-height: 5rem;
}

/* container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 2rem;
}

/* turn message */
.status {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #fff;
  margin-top: 30px;
}

/* game board */
.game {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* boxes */
.square {
  height: 120px;
  width: 120px;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  font-size: 8vmin;
  color: #b0413e;
}